<div class="">
    <h1>Angular</h1>
    <div class="nav">
        <!-- <a href="/home">Home</a> | -->
        <!-- <a [routerLink]="['/home']">Home</a> | -->
        <a routerLink="/home">Home</a> |
        <a [routerLink]="['/cities']">Cities</a> |
        <a [routerLink]="['/trainee']">Trainee</a> |
        <!-- <a [routerLink]="['/footer']">Footer</a> | -->
        <a [routerLink]="['cities/1']">Cities Visited 1</a> |
        <a [routerLink]="['trainee-card']">Trainee Card</a> |
        <a [routerLink]="['cities/2']">Cities Visited 2</a>
    </div>
</div>