<!-- <ul>
    <li *ngFor="let trainee of trainees"> {{trainee.id}} - {{trainee.name}} - {{trainee.age}} - {{trainee.email}} - {{trainee.favouriteCourse}}</li>
</ul>

<ul>
    <li *ngFor="let trainee of traineeList"> {{trainee.id}} - {{trainee.name}} - {{trainee.age}} - {{trainee.email}} - {{trainee.favouriteCourse}}</li>
</ul> -->

<table class="table table-striped table-hover table-bordered mt-5 table-responsive caption-top">
    <caption style="font-size: 30px;">Trainees</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Trainee Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Favourite Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of trainees; let i=index">
        <td>{{i+1}}</td>
        <td>{{t.name}}</td>
        <td>{{t.age}}</td>
        <td>{{t.email}}</td>
        <td>{{t.favouriteCourse}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-hover table-bordered mt-5 table-responsive caption-top">
    <caption style="font-size: 30px;">Trainee List</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Trainee Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Favourite Course</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of traineeList; let i=index">
        <td>{{i+1}}</td>
        <td>{{t.name}}</td>
        <td>{{t.age}}</td>
        <td>{{t.email}}</td>
        <td>{{t.favouriteCourse}}</td>
      </tr>
    </tbody>
  </table>