<h5>My city is {{myCity}}</h5>

<p>List of cities I've visited</p>
<ul>
    <li *ngFor="let city of cities">{{city | uppercase}}</li>
</ul>
<ol>
    <li *ngFor="let state of statesVisited">{{state}}</li>
</ol>
<div class="div">
    <h2>From the Child To Parent Component (Output)</h2>
    <h3>I've visited {{numOfCitiesCountEmitted}} cities</h3>
</div>
<app-citiesvisited [numOfCities]="numOfCities" (numOfCitiesVisitedEmit)="numOfCitiesCount($event)"></app-citiesvisited>
<div style="margin-top: 250px;" *ngIf="numOfCities >= 5">
</div>
