<div class="container">
    <div class="row">
        <div class="col-md-4 mt-2" *ngFor="let trainee of trainees">
            <div class="card" style="width: 18rem; background-color: honeydew; font-family: cursive;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">{{trainee.name}}</h5>
                  <h6 class="card-subtitle">Age: {{trainee.age}}</h6>
                  <h6 class="card-subtitle">Email: {{trainee.email}}</h6>
                  <h6 class="card-subtitle">Fav Course: {{trainee.favouriteCourse}}</h6>
                  <p class="card-text card-footer text-muted">Academy 4.0</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4 mt-2" *ngFor="let traineeList of traineeList">
          <div class="card" style="width: 18rem; background-color: rgb(14, 234, 14); font-family: cursive;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">{{traineeList.name}}</h5>
                <h6 class="card-subtitle">Age: {{traineeList.age}}</h6>
                <h6 class="card-subtitle">Email: {{traineeList.email}}</h6>
                <h6 class="card-subtitle">Fav Course: {{traineeList.favouriteCourse}}</h6>
                <p class="card-text card-footer text-muted">Academy 4.0</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
      </div>
  </div>
</div>